.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
    /* position: absolute; */
    text-align: center;
    background: #151515;
    border-radius: 8px;
  }

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding-right: 30px; /* Додайте потрібний відступ для іконки */
}

.svg {
  width: 16.5px;
    /* height: 12px; */
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-45%);
    /* fill: #737373; */
}

.menu {
    padding-top: 40px;
    display: flex;
}

.menu a {
left: 160px;
top: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.02em;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
}

.menu a:first-child {
left: 40px;
top: 40px;
margin-left: 40px;
margin-right: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.3);
font-family: 'Poppins', sans-serif;
}

.inputs {
display: flex;
flex-direction: column;
margin-top: 40px;
margin-bottom: 10px;
/*   margin: 40, 0, 10, 0; */
}

.passwordinput {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .passwordinputField {
    padding-right: 30px; /* Залиште простір для ока */
  }
  
  .togglePassword {
    position: absolute;
    right: 60px;
    top: 19px;
    cursor: pointer;
    color: white;
  }

.toggleIcon {
    color: #737373;
  }

.inputs input {
width: 326px;
height: 49px;
margin-left: 40px;
margin-right: 40px;
margin-bottom: 14px;

left: 40px;
top: 107px;
color: white;
background: #1F1F1F;
opacity: 0.4;
border: 1px solid #BEDBB0;
padding-left: 18px;
box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.08);
border-radius: 8px;
}

  .registerbtn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.02em;
    width: 344px;
    height: 49px;
    background: #BEDBB0;
    border-radius: 8px;
    color: #161616;
    margin-bottom: 40px;
    cursor: pointer;
  }

@media screen and (max-width: 768px) {
.registerbtn {
  width: 287px;
  margin-bottom: 24px;
}
}

@media screen and (max-width: 768px) {
.inputs input{
  width: 287px;
  margin-left: 24px;
  margin-right: 24px;
}
}

@media screen and (max-width: 768px) {
.menu{
  margin-top: 24px;
}
}

@media screen and (max-width: 768px) {
.menu a:first-child{
  margin-left: 24px;
}
}

@media screen and (max-width: 768px) {
  .togglepassword{
    right: 42.75px
  }
  }