body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);
    background-repeat: no-repeat;
    background-size: cover;
  }

a {
text-decoration: none;
}

  .content {
    /* position: absolute; */
    text-align: center;
  }

.logo {
text-align: center;
align-items: center;
justify-content: center;
}

.size {
/*   widht: 162px; */
height: 162px;
align-items: center;
justify-content: center;
}

  .logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
/*       margin-top: 20px; */
  }

  .photo {
    width: 48px;
    height: 48px;
    margin-right: 14px;
    font-size: 24px;
    font-weight: bold;
  }

  .name {
    margin: 24px 0px 24px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #161616;
  }

  .text {
    margin: 0px;
    width: 473px;
    height: 36px;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #161616;
    
  }

.registration {
display: flex;
flex-direction: column;
gap: 14px;
}

.custom-button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 14px 131px 14px 130px;
    background: #161616;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    text-transform: none;
    box-shadow: none;
    /*       width: 344px;
    height: 49px; */
  }

  .MuiButtonBase-root:disabled {
    cursor: not-allowed;
    pointer-events: auto;
  }

.loginBtn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #161616;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
.registerBtn {
  padding: 14px 126px 14px 126px;
}
}

@media screen and (max-width: 768px) {
.size{
  width: 124px;
  height: 124px;
}
}

@media screen and (max-width: 768px) {
.photo{
  width: 40px;
  height: 40px;
}
}

@media screen and (max-width: 768px) {
.name{
  font-size: 28px;
  line-height: 42px;
  margin: 14px 0px 24px 0px;
}
}

@media screen and (max-width: 768px) {
.text{
  width: 335px;
  height: 54px;
  left: calc(50% - 335px/2);
}
}