.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.container {
  text-align: center;
}

.logo {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.svg{ 
  height: 48px;
  width: 48px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 24px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #161616;
}

.text {
  width: 473px;
  height: 36px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #161616;  
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.registerBtn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  padding: 14px 131px 14px 130px;
  background: #161616;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-transform: none;
  box-shadow: none;
  /*       width: 344px;
  height: 49px; */
}

/* .MuiButtonBase-root:disabled {
  cursor: not-allowed;
  pointer-events: auto;
} */

.loginBtn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #161616;
  cursor: pointer;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.logo {
  width: 162px;
  height: 162px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 769px) {
  .logo {
    background-image: url('https://res.cloudinary.com/dsqxw0541/image/upload/v1687674728/TaskProImages/welcomeimages/w-desktop_qc2ytd.png');
  }
}

@media screen and (max-width: 768px) {
  .centeredContainer {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 124px;
    height: 124px;
    background-image: url('https://res.cloudinary.com/dsqxw0541/image/upload/v1687674728/TaskProImages/welcomeimages/w-mobile_xrqyoo.png');
  }
}

@media screen and (max-width: 768px) {
  .registerBtn {
    padding: 14px 126px 14px 126px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 42px;
    /* margin: 14px 0px 24px 0px; */
  }
}

@media screen and (max-width: 768px) {
  .text {
    width: 335px;
    height: 54px;
    left: calc(50% - 335px/2);
  }
}

@media screen and (max-width: 768px) {
  .svg {
    height: 40px;
    width: 40px;
  }
}