@import-normalize;
/* bring in normalize.css styles */

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), local('Poppins-Medium'),
    local('Poppins-SemiBold'),
    url('./fonts/Poppins-Regular.ttf') format('truetype'),
    url('./fonts/Poppins-Medium.ttf') format('truetype'),
    url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
  /** WelcomePage */
  --fontFamily: 'Poppins';
  --borderRadius8: 8px;
  --borderRadius6: 6px;
  --transition: 0.25s;
  --darkColor: #161616;
  --lightColor: #ffffff;
  --welcomeBgColor: linear-gradient(180deg,
      #ffffff 0%,
      #ffffff 25%,
      #bedbb0 92.19%);

  /**Register, LogIn */
  --bgColorAuth: #151515;
  --inputBgColor: #1f1f1f;
  --inputTextColor: rgba(255, 255, 255, 0.3);
  --inputTextFocus: #ffffff;
  --inputBorderColor: rgb(190, 219, 176, 0.5);
  --inputBorderFocus: #bedbb0;
  --buttonBgColor: #bedbb0;
  --buttonColor: #161616;
  --passwordColor: #737373;

  /** Priority Colors*/
  --lowPriorityColor: #8fa1d0;
  --mediumPriorityColor: #e09cb5;
  --highPriorityColor: #bedbb0;

  /** fontSize*/
  --fontSize8: 8px;
  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize14: 14px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize28: 28px;
  --fontSize40: 40px;

  /** fontWeight */
  --fontWeight400: 400;
  --fontWeight500: 500;
  --fontWeight600: 600;

  /** breakpoints */
  --breakpointsXS: 320px;
  --breakpointsS: 375px;
  --breakpointsM: 786px;
  --breakpointsL: 1440px;
}

#root {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--fontFamily), sans-serif;
  background-color: var(--boardBgColor);
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

body[data-theme='dark'] {
  /* * Icon Close Modal */
  --iconCloseModal: #ffffff;
  --scrollThumbColor: #121212;
  --scrollAccentColor: #151515;
  --scrollTrackColor: rgba(255, 255, 255, 0.5);
  /** Header */
  --headerBgColor: #161616;

  --themeText: rgba(255, 255, 255, 0.8);
  --themeBgColor: #151515;
  --themeBorderColor: #bedbb0;
  --themeSelectText: rgba(255, 255, 255, 0.5);
  --themeSelectTextAccent: #bedbb0;

  --userNameText: #ffffff;

  /** Sidebar */
  --logoColor: #ffffff;
  --logoBgColor: #1f1f1f;
  --logoIconFill: #ffffff;

  --sidebarBgColor: #121212;

  --inputText: rgba(255, 255, 255, 0.5);
  --inputBorder: rgba(255, 255, 255, 0.1);

  --buttonPlusBgColor: #bedbb0;
  --buttonPlusFill: #121212;

  --blockEditBgColor: #1f1f1f;
  --blockEditBorderAccent: #bedbb0;

  --iconFill: rgba(255, 255, 255, 0.5);
  --iconSelectFill: #ffffff;

  --helpText: #ffffff;
  --helpTextAccentColor: #bedbb0;
  --helpBgColor: #1f1f1f;
  --helpIconColor: #ffffff;

  --iconLogOutColor: #bedbb0;

  --sidebarPrimaryTextColor: #ffffff;
  --sidebarSecondaryTextColor: rgba(255, 255, 255, 0.5);

  /** Board */

  --boardTitleText: #FFFFFF;

  --boardBgColor: #1f1f1f;

  --defaultText: rgba(255, 255, 255, 0.5);
  --defaultAccentText: #bedbb0;
  --filterText: rgba(255, 255, 255, 0.8);

  --buttonAddColumnBgColor: #121212;
  --buttonAddColumnColor: #ffffff;
  --buttonAddColumnIconBgColor: #ffffff;
  --buttonAddColumnIconFill: #121212;

  /** Column, Card */
  --bgColor: #121212;
  --iconsColor: rgba(255, 255, 255, 0.5);
  --iconDeadlineColor: #bedbb0;

  --titleColor: #ffffff;
  --textColor: rgba(255, 255, 255, 0.5);
  --lineColor: rgba(255, 255, 255, 0.1);

  --subTitleColor: rgba(255, 255, 255, 0.5);
  --subTextColor: #ffffff;

  --buttonAddCardBgColor: #bedbb0;
  --buttonAddCardColor: #161616;
  --buttonAddCardIconBgColor: #161616;
  --buttonAddCardIconFill: #ffffff;

  /** Priority Colors*/
  --defaultPriorityColor: rgba(255, 255, 255, 0.3);

  /* *Filters */
  --filtersBgColor: #151515;
  --filtersTitleColor: #ffffff;
  --filtersLineColor: rgba(255, 255, 255, 0.1);
  --filtersTextColor: rgba(255, 255, 255, 0.5);
  --filtersSelectTextColor: #ffffff;
  /* --filtersWithoutPriorityColor: #ffffff4d; */

  /* * Calendar */
  --calendarBgColor: #1f1f1f;
  --calendarBorderColor: #bedbb0;
  --calendarLineColor: rgba(255, 255, 255, 0.2);
  --calendarDayColor: rgba(255, 255, 255, 0.5);
  --calendarArrowColor: rgba(255, 255, 255, 0.8);

  --calendarNumberColor: #ffffff;
  --calendarNumberLastColor: rgba(255, 255, 255, 0.2);
  --calendarNumberAccentColor: #1f1f1f;
  --calendarNumberAccentBgColor: #bedbb0;

  /* * Pop up In progress */
  --inProgressBgColor: #1f1f1f;
  --inProgressColor: rgba(255, 255, 255, 0.5);
  --inProgressSelectColor: #bedbb0;

  /* * Pop up Edit Profile */
  --profileBgColor: #151515;
  --profileColor: #ffffff;
  --profileInputBgColor: #1f1f1f;
  --profileInputTextColor: rgba(255, 255, 255, 0.3);
  --profileInputTextFocus: #ffffff;
  --profileInputBorderColor: rgb(190, 219, 176, 0.5);
  --profileInputBorderFocus: #bedbb0;

  --profileButtonBgColor: #bedbb0;

  --profileIconBgColor: #bedbb0;
  --profileIconFill: #161616;

  --profileUserIconBgColor: #1f1f1f;
  --profileUserIconFill: #151515;

  /* * Pop up Add card and Edit card*/
  --addCardBgColor: #151515;
  --addCardColor: #ffffff;

  --addCardInputBgColor: #1f1f1f;
  --addCardInputTextColor: rgba(255, 255, 255, 0.3);
  --addCardInputTextFocus: #ffffff;
  --addCardInputBorderColor: rgb(190, 219, 176, 0.5);
  --addCardInputBorderFocus: #bedbb0;

  --addCardButtonBgColor: #bedbb0;
  --addCardButtonColor: #161616;
  --addCardIconBgColor: #161616;
  --addCardIconFill: #ffffff;

  --addCardTextColor: rgba(255, 255, 255, 0.5);
  --addCardTextAccentColor: #bedbb0;

  /* * Pop up Create board and Edit board*/
  --createBoardBgColor: #151515;
  --createBoardColor: #ffffff;

  --createBoardInputBgColor: #1f1f1f;
  --createBoardInputTextColor: rgba(255, 255, 255, 0.3);
  --createBoardInputTextFocus: #ffffff;
  --createBoardInputBorderColor: rgb(190, 219, 176, 0.5);
  --createBoardInputBorderFocus: #bedbb0;

  --createBoardButtonBgColor: #bedbb0;
  --createBoardButtonColor: #161616;
  --createBoardButtonIconBgColor: #161616;
  --createBoardButtonIconFill: #ffffff;

  --createBoardIconsFill: rgba(255, 255, 255, 0.5);
  --createBoardSelectIconsFill: #ffffff;
  --defaultBgImageColor: #1f1f1f;
  --defaultBgImageFill: rgba(255, 255, 255, 0.1);

  /* * Pop up Email, Comments*/
  --createBoardBgColor: #151515;
  --createBoardColor: #ffffff;

  --createBoardInputBgColor: #1f1f1f;
  --createBoardInputTextColor: rgba(255, 255, 255, 0.3);
  --createBoardInputTextFocus: #ffffff;
  --createBoardInputBorderColor: rgb(190, 219, 176, 0.5);
  --createBoardInputBorderFocus: #bedbb0;

  --createBoardButtonBgColor: #bedbb0;
  --helpModalButtonColor: #161616;
}

body[data-theme='light'] {
  /* * Icon Close Modal*/
  --iconCloseModal: #161616;
  --scrollThumbColor: #E8E8E8;
  --scrollTrackColor: rgba(22, 22, 22, 0.1);
  --scrollAccentColor: rgba(22, 22, 22, 0.5);
  /** Sidebar light*/
  --logoColor: #161616;
  --logoBgColor: #1f1f1f;
  --logoIconFill: #ffffff;

  --sidebarBgColor: #ffffff;

  --inputText: rgba(22, 22, 22, 0.5);
  --inputBorder: rgba(22, 22, 22, 0.1);

  --buttonPlusBgColor: #bedbb0;
  --buttonPlusFill: #121212;

  --blockEditBgColor: #f6f6f7;
  --blockEditBorderAccent: #bedbb0;

  --iconFill: rgba(22, 22, 22, 0.5);
  --iconSelectFill: #161616;

  --helpText: #161616;
  --helpTextAccentColor: #bedbb0;
  --helpBgColor: #f6f6f7;
  --helpIconColor: #161616;

  --iconLogOutColor: #bedbb0;

  --sidebarPrimaryTextColor: #161616;
  --sidebarSecondaryTextColor: rgba(22, 22, 22, 0.5);

  /** Header */
  --headerBgColor: #fcfcfc;

  --themeText: rgba(22, 22, 22, 0.8);
  --themeBgColor: #fcfcfc;
  --themeBorderColor: #bedbb0;
  --themeSelectText: #161616;
  --themeSelectTextAccent: #bedbb0;

  --userNameText: #161616;

  /** Board */

  --boardBgColor: #F6F6F7;
  --boardTitleText: #161616;

  --defaultText: rgba(22, 22, 22, 0.7);
  --defaultAccentText: #bedbb0;
  --filterText: rgba(22, 22, 22, 0.8);

  --buttonAddColumnBgColor: #ffffff;
  --buttonAddColumnColor: #161616;
  --buttonAddColumnIconBgColor: #161616;
  --buttonAddColumnIconFill: #ffffff;

  /** Column, Card */
  --bgColor: #ffffff;
  --iconsColor: rgba(22, 22, 22, 0.5);
  --iconDeadlineColor: #bedbb0;

  --titleColor: #161616;
  --textColor: rgba(22, 22, 22, 0.7);
  --lineColor: rgba(22, 22, 22, 0.1);

  --subTitleColor: rgba(22, 22, 22, 0.5);
  --subTextColor: #161616;

  --buttonAddCardBgColor: #bedbb0;
  --buttonAddCardColor: #161616;
  --buttonAddCardIconBgColor: #161616;
  --buttonAddCardIconFill: #ffffff;

  /** Priority Colors*/
  --defaultPriorityColor: rgba(22, 22, 22, 0.3);

  /* *Filters */
  --filtersBgColor: #fcfcfc;
  --filtersTitleColor: #161616;
  --filtersLineColor: rgba(22, 22, 22, 0.1);
  --filtersTextColor: rgba(22, 22, 22, 0.5);
  --filtersSelectTextColor: #161616;

  /* * Calendar */
  --calendarBgColor: #e5e5e5;
  --calendarBorderColor: #bedbb0;
  --calendarLineColor: rgba(22, 22, 22, 0.2);
  --calendarDayColor: rgba(22, 22, 22, 0.5);
  --calendarArrowColor: rgba(22, 22, 22, 0.8);

  --calendarNumberColor: #161616;
  --calendarNumberLastColor: rgba(22, 22, 22, 0.2);
  --calendarNumberAccentColor: #161616;
  --calendarNumberAccentBgColor: #bedbb0;

  /* * Pop up In progress */
  --inProgressBgColor: #e5e5e5;
  --inProgressColor: #161616;
  --inProgressSelectColor: #bedbb0;

  /* * Pop up Edit Profile */
  --profileBgColor: #fcfcfc;
  --profileColor: #161616;

  --profileInputBgColor: #fcfcfc;
  --profileInputTextColor: rgba(22, 22, 22, 0.3);
  --profileInputTextFocus: #161616;

  --profileInputBorderColor: rgb(190, 219, 176, 0.5);
  --profileInputBorderFocus: #bedbb0;

  --profileButtonBgColor: #bedbb0;

  --profileIconBgColor: #bedbb0;
  --profileIconFill: #161616;

  --profileUserIconBgColor: #f6f6f7;
  --profileUserIconFill: #ffffff;

  /* * Pop up Add card and Edit card*/
  --addCardBgColor: #fcfcfc;
  --addCardColor: #161616;

  --addCardInputBgColor: #fcfcfc;
  --addCardInputTextColor: rgba(22, 22, 22, 0.3);
  --addCardInputTextFocus: #161616;
  --addCardInputBorderColor: rgb(190, 219, 176, 0.5);
  --addCardInputBorderFocus: #bedbb0;

  --addCardButtonBgColor: #bedbb0;
  --addCardButtonColor: #161616;
  --addCardIconBgColor: #161616;
  --addCardIconFill: #ffffff;

  --addCardTextColor: rgba(22, 22, 22, 0.5);
  --addCardTextAccentColor: #bedbb0;

  /* * Pop up Create board and Edit board*/
  --createBoardBgColor: #fcfcfc;
  --createBoardColor: #161616;

  --createBoardInputBgColor: #fcfcfc;
  --createBoardInputTextColor: rgba(22, 22, 22, 0.3);
  --createBoardInputTextFocus: #161616;
  --createBoardInputBorderColor: rgb(190, 219, 176, 0.5);
  --createBoardInputBorderFocus: #bedbb0;

  --createBoardButtonBgColor: #bedbb0;
  --createBoardButtonColor: #161616;
  --createBoardButtonIconBgColor: #161616;
  --createBoardButtonIconFill: rgba(22, 22, 22, 1);
  --createBoardIconsFill: rgba(22, 22, 22, 0.5);
  --createBoardSelectIconsFill: #161616;
  --defaultBgImageColor: #f6f6f7;
  --defaultBgImageFill: rgba(22, 22, 22, 0.1);

  /* * Pop up Email, Comments*/
  --createBoardBgColor: #fcfcfc;
  --createBoardColor: #161616;

  --createBoardInputBgColor: #fcfcfc;
  --createBoardInputTextColor: rgba(22, 22, 22, 0.3);
  --createBoardInputTextFocus: #161616;
  --createBoardInputBorderColor: rgb(190, 219, 176, 0.5);
  --createBoardInputBorderFocus: #bedbb0;

  --createBoardButtonBgColor: #bedbb0;
  --helpModalButtonColor: #161616;
}

body[data-theme='violet'] {
  /* * Icon Close Modal*/
  --iconCloseModal: #161616;
  --scrollThumbColor: #ffffff;
  --scrollTrackColor: #B8BCFD;
  --scrollAccentColor: #5255bc;
  /** Sidebar*/
  --logoColor: #ffffff;
  --logoBgColor: #ecedfd;
  --logoIconFill: #5255bc;

  --sidebarBgColor: #5255bc;

  --inputText: rgba(225, 225, 225, 0.5);
  --inputBorder: rgba(225, 225, 225, 0.1);

  --buttonPlusBgColor: #b8bcfd;
  --buttonPlusFill: #ffffff;

  --blockEditBgColor: #ecedfd;
  --blockEditBorderAccent: #ffffff;

  --iconFill: rgba(225, 225, 225, 0.5);
  --iconSelectFill: #ffffff;

  --helpText: #ffffff;
  --helpTextAccentColor: #5255bc;
  --helpBgColor: rgb(236, 237, 253, 0.5);
  --helpIconColor: #ffffff;

  --iconLogOutColor: #ffffff;

  --sidebarPrimaryTextColor: #ffffff;
  --sidebarSecondaryTextColor: rgba(225, 225, 225, 0.5);

  /** Header */
  --headerBgColor: #ffffff;

  --themeText: rgba(22, 22, 22, 0.8);
  --themeBgColor: #fcfcfc;
  --themeBorderColor: #ecedfd;
  --themeSelectText: #161616;
  --themeSelectTextAccent: #5255bc;

  --userNameText: #161616;

  /** Board */

  --boardBgColor: #ECEDFD;
  --boardTitleText: #161616;

  --defaultText: rgba(22, 22, 22, 0.7);
  --defaultAccentText: #5255bc;
  --filterText: rgba(22, 22, 22, 0.8);

  --buttonAddColumnBgColor: #ffffff;
  --buttonAddColumnColor: #161616;
  --buttonAddColumnIconBgColor: #5255bc;
  --buttonAddColumnIconFill: #ffffff;

  /** Column, Card */
  --bgColor: #ffffff;
  --iconsColor: rgba(22, 22, 22, 0.5);
  --iconDeadlineColor: #5255bc;

  --titleColor: #161616;
  --textColor: rgba(22, 22, 22, 0.7);
  --lineColor: rgba(22, 22, 22, 0.1);

  --subTitleColor: rgba(22, 22, 22, 0.5);
  --subTextColor: #161616;


  --buttonAddCardBgColor: #5255bc;
  --buttonAddCardColor: #ffffff;
  --buttonAddCardIconBgColor: #ffffff;
  --buttonAddCardIconFill: #161616;

  /** Priority Colors*/
  --defaultPriorityColor: rgba(22, 22, 22, 0.3);

  /* *Filters */
  --filtersBgColor: #fcfcfc;
  --filtersTitleColor: #161616;
  --filtersLineColor: rgba(22, 22, 22, 0.1);
  --filtersTextColor: rgba(22, 22, 22, 0.5);
  --filtersSelectTextColor: #161616;

  /* * Calendar */
  --calendarBgColor: #ffffff;
  --calendarBorderColor: #5255bc;
  --calendarLineColor: rgba(22, 22, 22, 0.2);
  --calendarDayColor: rgba(22, 22, 22, 0.5);
  --calendarArrowColor: rgba(22, 22, 22, 0.8);

  --calendarNumberColor: #161616;
  --calendarNumberLastColor: rgba(22, 22, 22, 0.2);
  --calendarNumberAccentColor: #fcfcfc;
  --calendarNumberAccentBgColor: #5255bc;

  /* * Pop up In progress */
  --inProgressBgColor: #fcfcfc;
  --inProgressColor: #161616;
  --inProgressSelectColor: #5255bc;

  /* * Pop up Edit Profile */
  --profileBgColor: #fcfcfc;
  --profileColor: #161616;

  --profileInputBgColor: #fcfcfc;
  --profileInputTextColor: rgba(22, 22, 22, 0.3);
  --profileInputTextFocus: #161616;

  --profileInputBorderColor: rgb(82, 85, 188, 0.5);
  --profileInputBorderFocus: #5255bc;

  --profileButtonBgColor: #5255bc;

  --profileIconBgColor: #ecedfd;
  --profileIconFill: #161616;

  --profileUserIconBgColor: #ecedfd;
  --profileUserIconFill: #ffffff;

  /* * Pop up Add card and Edit card*/
  --addCardBgColor: #fcfcfc;
  --addCardColor: #161616;

  --addCardInputBgColor: #fcfcfc;
  --addCardInputTextColor: rgba(22, 22, 22, 0.3);
  --addCardInputTextFocus: #161616;
  --addCardInputBorderColor: rgb(82, 85, 188, 0.5);
  --addCardInputBorderFocus: #5255bc;

  --addCardButtonBgColor: #5255bc;
  --addCardButtonColor: #ffffff;
  --addCardIconBgColor: #ffffff;
  --addCardIconFill: #161616;

  --addCardTextColor: rgba(22, 22, 22, 0.5);
  --addCardTextAccentColor: #5255bc;

  /* * Pop up Create board and Edit board*/
  --createBoardBgColor: #fcfcfc;
  --createBoardColor: #161616;

  --createBoardInputBgColor: #fcfcfc;
  --createBoardInputTextColor: rgba(22, 22, 22, 0.3);
  --createBoardInputTextFocus: #161616;
  --createBoardInputBorderColor: rgb(82, 85, 188, 0.5);
  --createBoardInputBorderFocus: #5255bc;

  --createBoardButtonBgColor: #5255bc;
  --createBoardButtonColor: #161616;
  --createBoardButtonIconBgColor: #161616;
  --createBoardButtonIconFill: rgba(22, 22, 22, 1);

  --createBoardIconsFill: rgba(22, 22, 22, 0.5);
  --createBoardSelectIconsFill: #161616;
  --defaultBgImageColor: #ecedfd;
  --defaultBgImageFill: rgba(22, 22, 22, 0.1);

  /* * Pop up Email, Comments*/
  --createBoardBgColor: #fcfcfc;
  --createBoardColor: #161616;

  --createBoardInputBgColor: #fcfcfc;
  --createBoardInputTextColor: rgba(22, 22, 22, 0.3);
  --createBoardInputTextFocus: #161616;
  --createBoardInputBorderColor: rgb(82, 85, 188, 0.5);
  --createBoardInputBorderFocus: #5255bc;

  --createBoardButtonBgColor: #5255bc;
  --helpModalButtonColor: #ffffff;
}